[*.{fs,fsx}]
max_line_length = 80
fsharp_keep_max_number_of_blank_lines = 1

[*.{sql}]
test_option = 1
indent_size = 2
continuous_indent_multiplier = 1
sql_space_after_comma = true
# sql_style_place_list_items_on_new
sql_use_continuous_line_indent_in_ = true
